h1{
    text-align: center;
    background-color: royalblue;
    padding: 1.2em;
    margin: 0px;
    color: white;
    position: sticky;
    width: 100%;
}

h2{
    text-align: center;
    background-color: royalblue;
    padding 0em;
    margin: 0px;
    width: 100%;
    color: white;
}