body, ul, li, h1, h2 a{
    margin:0;
    padding: 0;
    font-family: Arial;
}

h1{
    text-align: center;
    background-color: royalblue;
    padding: 1.2em;
    margin: 0px;
    color: white;
    position: sticky;
    width: 100%;
}

h2{
    text-align: center;
    background-color: royalblue;
    margin: 0px;
    width: 100%;
    color: white;
}

.about{
    color: royalblue;
    font-weight: bold;
}

.contact{
    color: royalblue;
    font-weight: bold;
}

.signup{
    color: royalblue;
    font-weight: bold;
}